<div>
  <h2 id="page-heading" data-cy="CompradorHeading">
    <span jhiTranslate="concesionario2App.comprador.home.title">Compradors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="concesionario2App.comprador.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-comprador"
        [routerLink]="['/comprador/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="concesionario2App.comprador.home.createLabel"> Create a new Comprador </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="compradors?.length === 0">
    <span jhiTranslate="concesionario2App.comprador.home.notFound">No compradors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="compradors && compradors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dni">
            <span jhiTranslate="concesionario2App.comprador.dni">Dni</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <span jhiTranslate="concesionario2App.comprador.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="primerApellido">
            <span jhiTranslate="concesionario2App.comprador.primerApellido">Primer Apellido</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="segundoApellido">
            <span jhiTranslate="concesionario2App.comprador.segundoApellido">Segundo Apellido</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fechaNacimiento">
            <span jhiTranslate="concesionario2App.comprador.fechaNacimiento">Fecha Nacimiento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="direccion">
            <span jhiTranslate="concesionario2App.comprador.direccion">Direccion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comprador of compradors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/comprador', comprador.id, 'view']">{{ comprador.id }}</a>
          </td>
          <td>{{ comprador.dni }}</td>
          <td>{{ comprador.nombre }}</td>
          <td>{{ comprador.primerApellido }}</td>
          <td>{{ comprador.segundoApellido }}</td>
          <td>{{ comprador.fechaNacimiento | formatMediumDate }}</td>
          <td>{{ comprador.direccion }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/comprador', comprador.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/comprador', comprador.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(comprador)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="compradors && compradors.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
