<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="comprador">
      <h2 data-cy="compradorDetailsHeading"><span jhiTranslate="concesionario2App.comprador.detail.title">Comprador</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ comprador.id }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario2App.comprador.dni">Dni</span></dt>
        <dd>
          <span>{{ comprador.dni }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario2App.comprador.nombre">Nombre</span></dt>
        <dd>
          <span>{{ comprador.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario2App.comprador.primerApellido">Primer Apellido</span></dt>
        <dd>
          <span>{{ comprador.primerApellido }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario2App.comprador.segundoApellido">Segundo Apellido</span></dt>
        <dd>
          <span>{{ comprador.segundoApellido }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario2App.comprador.fechaNacimiento">Fecha Nacimiento</span></dt>
        <dd>
          <span>{{ comprador.fechaNacimiento | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario2App.comprador.direccion">Direccion</span></dt>
        <dd>
          <span>{{ comprador.direccion }}</span>
        </dd>
        <!--<dt><span jhiTranslate="concesionario2App.comprador.venta">Venta</span></dt>
        <dd>
          <span>{{ venta.direccion }}</span>
        </dd>-->
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/comprador', comprador.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
