<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vendedor-heading" data-cy="VendedorCreateUpdateHeading" jhiTranslate="concesionario2App.vendedor.home.createOrEditLabel">
        Create or edit a Vendedor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="concesionario2App.vendedor.dni" for="field_dni">Dni</label>
          <input type="text" class="form-control" name="dni" id="field_dni" data-cy="dni" formControlName="dni" />
          <div *ngIf="editForm.get('dni')!.invalid && (editForm.get('dni')!.dirty || editForm.get('dni')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('dni')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dni')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 9 }"
            >
              This field cannot be longer than 9 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="concesionario2App.vendedor.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="concesionario2App.vendedor.primeriApellido" for="field_primeriApellido"
            >Primeri Apellido</label
          >
          <input
            type="text"
            class="form-control"
            name="primeriApellido"
            id="field_primeriApellido"
            data-cy="primeriApellido"
            formControlName="primeriApellido"
          />
          <div
            *ngIf="
              editForm.get('primeriApellido')!.invalid &&
              (editForm.get('primeriApellido')!.dirty || editForm.get('primeriApellido')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('primeriApellido')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="concesionario2App.vendedor.segundoApellido" for="field_segundoApellido"
            >Segundo Apellido</label
          >
          <input
            type="text"
            class="form-control"
            name="segundoApellido"
            id="field_segundoApellido"
            data-cy="segundoApellido"
            formControlName="segundoApellido"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="concesionario2App.vendedor.fechaNacimiento" for="field_fechaNacimiento"
            >Fecha Nacimiento</label
          >
          <div class="input-group">
            <input
              id="field_fechaNacimiento"
              data-cy="fechaNacimiento"
              type="text"
              class="form-control"
              name="fechaNacimiento"
              ngbDatepicker
              #fechaNacimientoDp="ngbDatepicker"
              formControlName="fechaNacimiento"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="fechaNacimientoDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('fechaNacimiento')!.invalid &&
              (editForm.get('fechaNacimiento')!.dirty || editForm.get('fechaNacimiento')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaNacimiento')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="concesionario2App.vendedor.fechaContratacion" for="field_fechaContratacion"
            >Fecha Contratacion</label
          >
          <div class="input-group">
            <input
              id="field_fechaContratacion"
              data-cy="fechaContratacion"
              type="text"
              class="form-control"
              name="fechaContratacion"
              ngbDatepicker
              #fechaContratacionDp="ngbDatepicker"
              formControlName="fechaContratacion"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="fechaContratacionDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('fechaContratacion')!.invalid &&
              (editForm.get('fechaContratacion')!.dirty || editForm.get('fechaContratacion')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaContratacion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="concesionario2App.vendedor.fechaBaja" for="field_fechaBaja">Fecha Baja</label>
          <div class="input-group">
            <input
              id="field_fechaBaja"
              data-cy="fechaBaja"
              type="text"
              class="form-control"
              name="fechaBaja"
              ngbDatepicker
              #fechaBajaDp="ngbDatepicker"
              formControlName="fechaBaja"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="fechaBajaDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
