<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="venta">
      <h2 data-cy="ventaDetailsHeading"><span jhiTranslate="concesionario2App.venta.detail.title">Venta</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ venta.id }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario2App.venta.fecha">Fecha</span></dt>
        <dd>
          <span>{{ venta.fecha | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario2App.venta.numeroCoches">Numero Coches</span></dt>
        <dd>
          <span>{{ venta.numeroCoches }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario2App.venta.vendedor">Vendedor</span></dt>
        <dd>
          <div *ngIf="venta.vendedor">
            <a [routerLink]="['/vendedor', venta.vendedor?.id, 'view']">{{ venta.vendedor?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="concesionario2App.venta.comprador">Comprador</span></dt>
        <dd>
          <div *ngIf="venta.comprador">
            <a [routerLink]="['/comprador', venta.comprador?.id, 'view']">{{ venta.comprador?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/venta', venta.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
